
[Unit]
Description=My Awesome Cat App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="LANG=en_US.UTF-8"
Environment="LANGUAGE=en_US.UTF-8:"
WorkingDirectory=/home/ubuntu/OpenFEC/
ExecStart=/usr/bin/python3  /home/ubuntu/OpenFEC/server.py
Restart=always

[Install]
WantedBy=multi-user.target
